* {
    margin: 0;
    padding: 0;
}

body {
    background-color: silver;
    height: 100vh;
    width: 100vw;
}

.hero-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -999;
}

.hero-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

h2{
    margin-top: 20px;
    margin-left: 30px;
    display: none;
}

#start {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
    font-size: 72px;
    text-transform: uppercase;
    color: white
    
}
#start{
    font-family: "Garamond", Times, serif;
    font-weight: normal;
    cursor: pointer;
}

main .games{
    display: none;
}
main.gaming .games{
    display: block;
}
main.gaming h1{
    display: none;
}
.hero-img{
    width: 33%;
    height: 33%;
    position: absolute;
    object-fit: cover;
    z-index: -999;
}